extends ../layout
block content 
  h1 
    a(href="/teams") 

  //- h1 チーム作成
  h1= __('views.CreateTeam')

  form.box(action="/teams", method="post")
    _csrf

    - if(err)
      ul.errors
        each error in err.errors
          li= error.message
    
    div
      label(for="title") チーム名
      input#title(name="name", value=name)

    div.actions
      input(type="submit")