extends ../layout
block content 
   h1 タスクの編集

   form.box(action=`/teams/${team}/tasks/${task.id}`, method="post")
    _csrf
    _method put
    
    input(type='hidden', name='id', value=task.id)
    div
      label(for="title") タイトル
      input#title(name="title")
    div
      label(for="title") 内容
      textarea#body(name="body")

    div.actions
      input(type="submit", value='送信')